.breadcrumbs-wrapper{
    background: $white;
}
.breadcrumbs{
    padding: 10px 0;
}
.breadcrumbs > span{
    font-size: 14px;
}
.breadcrumbs > span > a{
    padding: 5px 10px;
    color: $gray-800;
    position: relative;

    &::after{
        content: "/";
        position: absolute;
        top: 50%;
        right: 0;
        line-height: 1;
        transform: translate(50%,-50%);
    }
}
.breadcrumbs > span > span{
    padding: 5px 10px;
    color: $gray-700;
}
.breadcrumbs > span > .navigation-bullet{
    display: none;
}
.breadcrumbs > span#navigation-first > a{
    padding-left: 20px;
    background-image: url($i-home);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    
    span{
        font-size: 0;
    }
}


@media screen and (max-width: 991px){
    .breadcrumbs-wrapper{
        background: $gray-100;
    }
    .breadcrumbs > span{
        display: none;
    }
    .breadcrumbs > span:nth-last-child(2){
        display: flex;
    }
    .breadcrumbs > span:nth-last-child(2) a{
        padding-left: 0;
        display: flex;
        align-items: center;
        line-height: 1;
    }
    .breadcrumbs > span:nth-last-child(2) a::before{
        content: "";
        display: flex;
        background-image: url($i-arrow-left);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 100%;
        height: 14px;
        width: 14px;
        margin-right: 5px;
    }
    .breadcrumbs > span:nth-last-child(2) a::after{
        content: none;
    }
}
