.btn{
    height: 46px;
    padding: 0 20px;
    background: $orange-700;
    color: $white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease all;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-weight: 500;

    &:hover, &:active, &:focus{
        color: $white;
        background: $orange-800;
        text-decoration: none;
    }
}
.btn-secondary{
    background: $gray-300;
    color: $gray-800;

    &:hover, &:active, &:focus{
        color: $gray-800;
        background: $gray-400;
        text-decoration: none;
    }
}