.co-delivery-method, .co-payment-method{
    padding-bottom: 40px;
}
h4.order-delivery, h4.order-payment{
    padding-bottom: 10px;
}
.shipping-billing-table{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
}
.order-delivery-payment-form .radio-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-delivery-payment-form .radio-wrapper input {
    appearance: none;
    opacity: 0;
    position: absolute;
}
.order-delivery-payment-form .radio-wrapper label {
    margin: 0;
    flex-grow: 1;
    padding: 15px 10px;
    padding-left: 34px;
    position: relative;
    cursor: pointer;
    margin: 0;
    display: flex;
    outline: 1px solid $gray-300;
}
.order-delivery-payment-form .radio-wrapper label::before {
    content: "";
    background: transparent;
    height: 22px;
    width: 22px;
    display: flex;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    top: 19px;
    border-radius: 50%;
    border: 1px solid $gray-500;
}
.order-delivery-payment-form .radio-wrapper label::after {
    content: "";
    background: transparent;
    height: 12px;
    width: 12px;
    display: flex;
    position: absolute;
    top: 23px;
    left: 14px;
    border-radius: 50%;
}
.payment-info{
    order: 10;
    display: flex;
    flex-direction: revert;
    flex-wrap: wrap;
}
.shipping-billing-name{
    font-weight: 500;
}
.payment-info .sublabel-description {
    width: 100%;
}
.not-possible-info{
    width: 100%;
}
.payment-shipping-price {
    color: #A8071A;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    order: 20;
    white-space: nowrap;
}
.payment-shipping-price.for-free {
    color: #78aa66;
    font-weight: 400;
}
.payment-logo {
    height: 25px;
    width: 50px;
    margin: 0 15px 0 10px;
    order: 0;
    text-align: center;
}
#order-shipping-methods .show-tooltip {
    padding: 0px;
    position: relative;
    background: #7bb82a;
    cursor: pointer;
    border-radius: 50%;
    color: $white;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CHECKED */
.order-delivery-payment-form .radio-wrapper input:checked+label::before {
    border: 2px solid $green-500;
}
.order-delivery-payment-form .radio-wrapper input:checked+label::after {
    background: $green-500;
}
.order-delivery-payment-form .radio-wrapper input:checked+label {
    background: $white;
    outline: 2px solid $gray-1000;
}
/* ---- */