.ordering-process #navigation{
    display: none;
}
#cart-wrapper{

}
.cart-inner{
    padding: 0px 0 40px 0;
}
.cart-row{

    .col-md-8, .col-md-4{
        width: 100%;  
        top: 0 !important;
    }

}
.cart-content{
    margin: 0;
}


.cart-header{
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    list-style: none;
    padding: 0;
    background-color: $gray-100;
}

.cart-header .step{
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-basis: 0;
}
.cart-header .step a{
    text-align: center;
    padding: 15px 10px 30px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $gray-800;
    position: relative;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $green-700;
    }
}
.cart-header .step strong{
    text-align: center;
    padding: 15px 10px 30px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $gray-800;
}


.step strong::before, .step a::before{
    background: $gray-200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    line-height: 1;
    color: $gray-800;
    font-size: 14px;
    font-weight: 600;
}
.step.step-1 strong::before, .step.step-1 a::before{
    content: "1";
}
.step.step-2 strong::before, .step.step-2 a::before{
    content: "2";
}
.step.step-3 strong::before, .step.step-3 a::before{
    content: "3";
}
