.ordering-process #navigation, .ordering-process #header::before{
    display: none;
}
.ordering-process #js-userToggle, .ordering-process .search{
    display: none;
}
.ordering-process #header{
    height: 90px;
}


#cart-wrapper{

}
.cart-inner{
    padding: 0px 0 40px 0;
}
.in-kosik .cart-row{

    .col-md-8, .col-md-4{
        width: 100%;  
        top: 0 !important;
    }

}

.cart-content{
    margin: 0;
}

.cart-inner .cart-content.checkout-box-wrapper{
    display: none;
}
.header-top{
    .contact-box{
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 46px;
    }
    .contact-box::before{
        content: "";
        height: 36px;
        width: 36px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url($i-phone-white);
        background-size: 100%;
    }
    .contact-box h4{
        font-size: 18px;
        font-weight: 700;
        display: none;
    }
    .contact-box img, .contact-box strong{
        display: none;
    }
    .contact-box ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .contact-box ul a{
        color: $white;
    }
    .contact-box li{
        font-size: 15px;
        line-height: 24px;
    }
    .contact-box li:last-child, .contact-box li:nth-child(3){
        display: none;
    }    
}


.back-shopping-link{
    display: none;
}

.cart-header{
    display: flex;
    margin: 20px 0 40px 0;
    list-style: none;
    padding: 0;
    background-color: $gray-100;
}

.cart-header .step{
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-basis: 0;
}
.cart-header .step a{
    text-align: center;
    padding: 20px 10px 20px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $gray-800;
    position: relative;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $green-700;
    }
}
.cart-header .step strong{
    text-align: center;
    padding: 20px 10px 20px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $gray-800;
}


.step strong::before, .step a::before{
    background: $gray-200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    line-height: 1;
    color: $gray-800;
    font-weight: 600;
    margin-right: 10px;
}
.step.step-1 strong::before, .step.step-1 a::before{
    content: "1";
}
.step.step-2 strong::before, .step.step-2 a::before{
    content: "2";
}
.step.step-3 strong::before, .step.step-3 a::before{
    content: "3";
}

.cart-header .step.active::before{
    background: $gray-800;
    color: $white;
} 


@media screen and (max-width: 991px){
    .cart-header {
        margin: -10px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .cart-header .step a, .cart-header .step strong{
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
    }
    .cart-header .step-4{
        display: none;
    }
}


.cart-table{
    width: 100%;
}
.removeable{

}
.removeable td{
    padding: 10px 0;
}
.cart-p-image{
    height: 80px;
    width: 80px;
    flex-shrink: 0;
}
.cart-p-image a{
    display: flex;
    background: $gray-100;
}
.cart-p-image a img{
    mix-blend-mode: multiply;
}
.cart-table .p-name{
    padding-left: 20px;
}
.p-availability{

}
.p-availability .p-label{
    display: none;
}
.p-availability strong{
    font-weight: 600;
}
.p-availability .availability-amount{

}

.p-quantity .p-label{
    display: none;
}

.p-quantity{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.p-quantity .quantity{
    height: 100%;
    position: relative;
    display: flex;
    max-width: 120px;

    .increase, .decrease{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        cursor: pointer;

        &::before, &::after{
            content: "";
            background: $gray-800;
            height: 2px;
            width: 10px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        &::after{
            height: 10px;
            width: 2px;
        }
    }
}
.p-quantity .quantity .decrease{
    left: 0;
    right: auto;
    &::after{
        content: none;
    }
}
.p-quantity .quantity .amount{
    height: 46px;
    padding: 0 10px;
    width: 100%;
    border: 1px solid $gray-400;
    text-align: center;
    font-size: 14px;
}
.p-price{

}
.p-total{
    display: flex;
    justify-content: space-between;
}
.p-total .p-label{
    display: none;
}
.p-total .remove-item{
    font-size: 0;
    border: 0;
    background: $gray-100;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-image: url($i-close);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    transition: 0.2s ease transform;
}
.p-total .remove-item:hover{
    transform: rotate(-90deg);
}





@media screen and (max-width: 991px){
    .removeable {
        flex-wrap: wrap;
    }
    .removeable:first-child {
        border: 0;
    }
    .p-name {
        width: calc(100% - 80px);
        flex-direction: column;
        justify-content: center;
    }
    .p-cell {
        width: auto;
    }
    .p-price{
        display: none;
    }
    .p-availability {
        padding: 5px 20px 5px 0;
    }
    .p-total{
        width: auto;
        flex-grow: 1;
    }
    .p-quantity {
        padding-left: 0;
    }
}
@media screen and (max-width: 991px){
    .p-availability {
        width: 100%;
    }
}






.related{
    display: none;
}
.cart-summary{

}

.cart-content.summary-wrapper{
    border-top: 1px solid $gray-300;
}
.cart-content.summary-wrapper .next-step{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.next-step-back{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray-300;
    padding: 0 20px;
    color: $black;
    font-weight: 500;
}