
before-carousel{

}
.banners-row .col-sm-8, .banners-row .col-sm-4{
    width: 100%;
}

.carousel {
    position: relative;
    padding: 20px 0;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: $gray-100;
    border-radius: $border-radius-primary;
}
/*
.carousel .item{
    display: none;
}
.carousel .item:first-child{
    display: flex;
}
*/


.carousel .item a{
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel .carousel-inner > .item:first-child{
    display: flex;
}

.carousel .carousel-inner > .item{
    display: none;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    background: rgba(0,0,0,0.3);
    text-align: center;
    background-repeat: repeat-x;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    transition: 0.3s ease opacity;
    opacity: 0.8;
}

.carousel-control.left {
    background-image: url($i-arrow-left-white);
}
.carousel-control.right {
    left: auto;
    right: 10px;
    background-image: url($i-arrow-right-white);
    transform: translateY(-50%);
}
.carousel-control:hover,.carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: 1;
}
.carousel-control.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}


.next-to-carousel-banners{
    display: flex;
    margin: 0 -10px;
}

.next-to-carousel-banners .banner-wrapper{
    width: 50%;
    padding: 20px 10px 20px 10px;
    text-align: center;
}
.next-to-carousel-banners .banner-wrapper a{
    background: $gray-100;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-primary;
}


@media screen and (max-width: 991px){
    .carousel {
        padding: 10px 0;
    }
    .carousel-control {
        display: none;
    }
}