.ordering-process #navigation{
    display: none;
}
#cart-wrapper{

}
.cart-inner{
    padding: 0px 0 40px 0;
}
.cart-row{

    .col-md-8, .col-md-4{
        width: 100%;  
        top: 0 !important;
    }

}
.cart-content{
    margin: 0;
}


.cart-header{
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    list-style: none;
    padding: 0;
    background-color: $gray-100;
}
.cart-header .step-0{

}
.cart-header .step{
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid $gray-100;
    position: relative;
    flex-basis: 0;
}
.cart-header .step a{
    text-align: center;
    padding: 15px 10px 30px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $gray-700;
    position: relative;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $green-700;
    }
}
.cart-header .step strong{
    text-align: center;
    padding: 15px 10px 30px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $gray-700;
}
.cart-header .step.active{
    border-bottom: 2px solid $green-700;
    background: $gray-400;
}
.cart-header .step.completed{
    border-bottom: 2px solid $green-700;
}
.cart-header .step.completed a{
    color: $green-700;
}
.cart-header .step.active strong{
    color: $gray-900;
}
.cart-header .step.step-1{

}

.step::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    background: $gray-300;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    line-height: 1;
    border: 3px solid $white;
    color: $gray-900;
    font-size: 14px;
    font-weight: 600;
}
.step.step-1::after{
    content: "1";
}
.step.step-2::after{
    content: "2";
}
.step.step-3::after{
    content: "3";
}
.step.step-4::after{
    content: "4";
}
.cart-header .step.active .step-number{
    background: $green-700;
    color: $white;
}
.step.active::after{
    border: 2px solid $green-700;
    background: $white;
    box-shadow: 0px 0px 0px 3px $white;
    width: 30px;
    height: 30px;
}
.step.completed::after{
    content: "✓";
    color: $white;
    background: $green-700;
}