.category-title{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    margin: 0px 0 40px 0;
    padding-bottom: 15px;
    color: $gray-800;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 6px;
        width: 40px;
        background: $green-200;
    }
    
    & + h4{
        display: none;
    }
}

.category-perex{
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 40px;
}
.category-perex > p{
    display: none;
}
.category-perex.active{
    .perex-short, .perex-showMore{
        display: none;
    }
    & > p{
        display: block;
    }
}

.perex-showMore{
    color: $green-700;
}
.perex-short{
    
}
.category-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0;
    padding: 10px;
    justify-content: space-between;
    background: $gray-300;
}
.category-header div{
    font-size: 14px;
    color: $gray-700;
    display: flex;

    strong{
        order: 2;
        padding-left: 5px;
    }
}
.category-header label{
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 0;
}
.category-header label:last-child{
    margin-right: 0px;
}
.category-header input{
    -webkit-appearance: none;
    display: none;
}

.category-header input:checked + label{
    color: $green-700;
}
#filterToggleDesktop{
    display: none;
}


@media screen and (min-width: 992px){
    #filterToggleDesktop{
        color: $white;
        display: flex;
    }
    .type-category .sidebar-left{
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }
    .type-category .sidebar-left.--active{
        display: flex;
        opacity: 1;
        position: relative;
        pointer-events: auto;

        .sidebar-inner{
            width: 100%;
        }
    }
    #content #category-header{
        display: none;
    }
    .category-perex > p{
        display: block;
    }
}
@media screen and (max-width: 991px){
    .category-title{
        font-size: 24px;
        margin: 0px 0 20px 0;
    }
    .category-header{
        display: none;
    }  
    .filter-sections .category-header{
        display: flex;
        border-top: 1px solid $gray-400;
    }  
    .category-header form{
        width: 100%;
    }  
    .category-header fieldset{
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }  
    .category-header div{
        display: none;
    }
    .category-header label{
        margin: 0px;
        height: 46px;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    .category-perex{
        margin-top: 0px;
    }
}