.content-wrapper{

}
.content-wrapper-in{
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap; /*should be here*/
}
.content{
    
}

@media screen and (min-width: 992px){
    .content-wrapper-in{
        flex-wrap: wrap;
    }
    .type-category .content-wrapper-in{
        flex-wrap: nowrap;
    }
}