.contact-form{
    position: relative;
    padding: 80px 0;
    background: $gray-100;

}
.contact-form__container{
    background: white;
}
.contact-form__left{
    background: $red-500;
}
.contact-form h2{

}
.contact-form__content{
    background: white;
    padding: 60px;
}