.filters-wrapper{
    padding-top: 40px;
}
.filters{
    display: none;
    position: absolute;
    background: white;
    padding: 20px;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.05);
}
.filters.visible{
    display: flex;
}
.filters-unveil-button-wrapper{

}
.filters-unveil-button-wrapper .btn{
    height: 40px;
    font-size: 14px;
}