footer {
    background: $white;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
}
.footer-links-icons{

}
.footer-rows{

}

.custom-footer{
    display: flex;
    flex-wrap: wrap;
}
.custom-footer > div{
    width: 33.333%;
}
.custom-footer > .extended{
    width: 100%;
}


.footer-bottom{
    display: flex;
    font-size: 14px;
    padding: 40px 0;
    border-top: 1px solid $gray-400;
}
#signature{

}
#signature::after{
    content: 'Šablonu "Zen" připravil Jan Heder';
    padding-left: 5px;
}
#signature img{
    height: 26px;
}
.copyright{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.copyright strong{
    padding-left: 5px;
}

.footer-banners{

}
.footer-banner{
    text-align: center;
}