footer {
    background: $white;
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 0;
}
.footer-links-icons{

}
.footer-rows{

}
.footer-rows .site-name{
    display: none;
}

.custom-footer{
    display: flex;
    flex-wrap: wrap;
}
.custom-footer > div{
    width: 33.333%;
}
.custom-footer > .extended, .custom-footer > div:first-child{
    width: 100%;
}
.custom-footer > div > h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.custom-footer > div  ul{
    list-style: none;
    padding: 0;
}
.custom-footer > div  ul > li{
    line-height: 1.8;
}
.custom-footer > div  ul > li a{
    font-weight: 500;
    color: $gray-800;
}

.custom-footer .news-item-widget{
    padding-bottom: 0px;
    line-height: 1.8;
}   
.custom-footer .news-item-widget:last-child{
    padding-bottom: 0px;
} 
.custom-footer .news-item-widget h5{
    margin: 0;
}
.custom-footer .news-item-widget h5 a{
    font-size: 15px;
    font-weight: 500;
    color: $gray-800;
}
.custom-footer .news-item-widget time{
    font-size: 13px;
    font-weight: 500;
    display: none;
}


.instagramSection{
    padding-bottom: 60px;
}
.instagramSection__title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
#instagramSectionContent{

}
#instagramSectionContent .instagram_gallery{
    margin: 0 -5px;
}
#instagramSectionContent .instagram_gallery a{
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
    width: 12.5%;
}
@media screen and (max-width: 991px){
    #instagramSectionContent .instagram_gallery a{
        width: 25%;
    }
}

.footer-bottom{
    display: flex;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#signature{

}
#signature a:first-child{
    margin-right: 10px;
    width: 22px;
    height: 22px;
}
#signature::after{
    content: 'Šablonu "Zen" připravil Jan Heder';
    padding-left: 5px;
}
#signature img{
    height: 22px;
}
.copyright{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.copyright strong{
    padding-left: 5px;
}

.footer-banners{
    margin: 40px 0;
}
.footer-banner{
    text-align: center;
}

@media screen and (max-width: 991px){
    .custom-footer > div{
        width: 50%;
        padding: 10px;
        max-width: none;
    }
    .custom-footer > .extended{
        width: 100%;
    }
    .footer-rows .custom-footer > div > h4, .footer-rows .banner-wrapper h4{
        font-size: 16px;
    }
    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright{
        padding-top: 10px;
    }
}