.header-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 110px;
    padding-bottom: 20px;
    position: relative;
    /* border-bottom: 1px solid $gray-400; */
}
@media screen and (max-width: 991px){
    .header-top{
        height: 56px;
        position: fixed;
        z-index: 9;
        width: 100%;
        padding: 0;
        align-items: center;
        background: $white;
        transition: 0.3s ease all;
        box-shadow: 0px 3px 8px 0px rgba($black,0.05);
        
        &.--active{
            span{
                background: none;
            }
            span::before{
                transform: rotate(-45deg);
            }
            span::after{
                transform: rotate(45deg);
            }
        }

        &.--active + #navigation .menu{
            transform: translate(0%, 0);
        }
    }
}
@media screen and (min-width: 992px){
    .header-top .search{
        display: none;
    }
}
.header-top div:nth-child(2){
    flex-shrink: 1;
}
.site-name{
    height: 48px;
    margin: 0;
    margin-bottom: 15px;
}
@media screen and (max-width: 991px){
    .site-name{
        height: 38px;
        margin: 0px;
        margin-bottom: 5px;
    }
    .ordering-process .site-name{
        margin-left: 10px;
    }
}
.site-name a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.site-name img{
    height: 100%;
    max-height: 100%;
}
.header-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.header-contacts a{
    position: relative;
    color: $gray-800;
    padding: 5px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $green-700;
    }
    &::before{
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 0%;
        background-image: url($i-envelope);
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translate(0%,-50%);
    }
}
.header-contacts a:first-child{

    &::before{
        background-image: url($i-phone);
    }

}
.header-contacts span{
    font-size: 14px;
    font-weight: 500;
    color: $gray-700;
    padding-left: 30px;
    padding-bottom: 10px;
}
@media screen and (max-width: 991px){
    .header-contacts{
        display: none;
    }
}


.search{
    height: 50px;
    padding-right: 0px;
    /*margin: 0 10px;*/
}
.search-form{
    height: 100%;
}
.search-form fieldset{
    display: inline-block;
    height: 100%;
    position: relative;
}
.search-form input{
    border: 0;
    height: 100%;
    background: transparent;
    padding: 0 20px;
    display: none;
    width: 320px;
    padding-right: 0;
}

@media screen and (min-width: 992px){
    .search:hover fieldset input, .search fieldset input:focus,  .search fieldset input:active, .search fieldset input:not(:placeholder-shown){
        display: inline-block;
        border: 1px solid #373b4e;
        border-right: 0;
        background: $white;
    }
    .search:hover fieldset input ~ button, .search fieldset input:focus ~ button,  .search fieldset input:active ~ button{
        border: 1px solid #373b4e;
        border-left: 0;
        background: $white;
    }
}
@media screen and (max-width: 991px){
    .search-form{
        background: $gray-300;
    }
}

.search:hover fieldset .btn, .search fieldset input:focus ~ .btn,  .search fieldset input:active ~ .btn{
    display: inline-block;

}


.search-whisperer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: $gray-300;
    transform: translateY(100%);
    z-index: 99;
    min-width: 300px;

    &.active{

    }
}
.search-whisperer ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.search-whisperer ul > li{

}
.search-whisperer ul > li{

}
.search-whisperer ul > li > a{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    flex-wrap: wrap;
    justify-content: flex-end;

    &:hover, &:active, &:focus{
        background: $white;
        text-decoration: none;

        .p-info{
            color: $green-700;
        }
    }
}
.search-whisperer .search-whisperer-image{
    width: 60px;
    padding-right: 20px;
}
.search-whisperer .p-info{
    font-size: 14px;
    color: $gray-800;
    width: calc(100% - 60px);
}
.search-whisperer .p-availability{
    display: none;
}
.search-whisperer .price-final{
    color: $red-800;
    width: calc(100% - 60px);
    font-size: 13px;
}
.search-whisperer-empty{
    padding: 10px 20px;
}
.search-whisperer-documents{
    display: none;
}


.search-form .btn{
    font-size: 0;
    position: relative;  
    background: transparent;
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    background: transparent;
    transition: 0s ease all;
    border: 1px solid transparent;
    border-left: 0;

    &:hover, &:active, &:focus{
        background: $white;
    }
    &::after{
        content: "";
        height: 24px;
        width: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-image: url($i-search);
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translate(-50%,-50%);
    }
}


@media screen and (max-width: 991px){
    .search{
        padding: 0;
        position: absolute;
        top: 56px;
        margin: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease opacity;
    }
    .search.--active{
        opacity: 1;
        pointer-events: auto;

        &::after{
            content: "";
            background: rgba($black, 0.8);
            position: absolute;
            height: 100vh;
            width: 100%;
        }
        & + .navigation-buttons .nav-search {
            background-image: url("../icons/close.svg");
        }
    }
    .search-form fieldset {
        width: 100%;
    }
    .search-form input{
        display: flex;
        width: 100%;
        background: $gray-300 !important;
    }
    .search-form .btn {
        font-size: 0;
        position: absolute;
        top: 0;
        right: 0;
        background: $gray-300;
    }
}


.nav-menu-toggle{
    display: none;
}
.ordering-process .nav-menu-toggle{
    display: none;
} 

@media screen and (max-width: 991px){
    .nav-menu-toggle{
        display: flex;
        height: 56px;
        width: 52px;
        position: relative;
        flex-shrink: 0;
    }
    .nav-menu-toggle span{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        transition: none;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 2px;
        background: $gray-700;

        &::before, &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 18px;
            background: $gray-700;
            transform: translate(0, -300%);
        }
       &::after{
            top: auto;
            transform: translate(0%, 300%);
        }
    }
}



.user-action-cart{
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0px;
    z-index: 9;
    background: $white;
    top: 90px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
    max-width: 500px;
    border: 4px solid $gray-300;
    overflow-y: scroll;
    max-height: 60vh;
}

@media screen and (min-width: 992px){
    .cart-count.full:hover + .user-action-cart, .user-action-cart:hover{
        display: flex;
    }
}
.cart-widget-product{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
}
.cart-widget-product-image{
    height: 60px;
    width: 60px;
    flex-shrink: 0;
}
.cart-widget-product-amount{
    padding: 0 10px;
    padding-right: 0;

    .quantity input{
        width: 26px;
        height: 36px;
        text-align: right;
        border-radius: 0;
        border: 0;
        font-size: 14px;
        background: transparent;
        pointer-events: none;
    }
}
.cart-widget-product-unit{
    display: flex;
    padding-right: 20px;
    padding-left: 5px;
}
.cart-widget-product-name{
    display: flex;
    flex-grow: 1;
    padding-right: 20px;
    justify-content: center;
    align-items: center;

    strong{
        padding-right: 20px;
        line-height: 1.2;
        padding-bottom: 5px;

        a{
            color: $gray-800;
            font-size: 14px;
        }
    }
    span{
        color: $red-800;
        font-weight: 700;
        text-align: right;
        flex-grow: 1;
        flex-shrink: 0;
        font-size: 14px;
    }
}
.cart-widget-product-delete{
    .inline{
        display: flex;
    }
}
.cart-widget-product-delete .remove-item{
    display: none;
    width: 24px;
    height: 24px;
    background: $white;
    border: 0;
    background-image: url("../icons/close.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center center;
    cursor: pointer;
}


#continue-order-button{

    height: 42px;
    font-size: 13px;
    transition: 0.3s ease opacity;

    &:hover, &:active, &:focus{

        border: 0;
    }
}
.user-action-cart .cart-free-shipping strong{
    color: $green-700;
    padding: 10px 0;
    padding-top: 20px;
    display: flex;
}
.cart-free-shipping{
    display: none;
}

.user-action-cart .cart-widget-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}