#header{
    background: $black;
    //position: relative;
    display: flex;
    align-items: center;

}
#header .container.navigation-wrapper{
    max-width: 100%;
    padding: 0;
}

@media screen and (max-width: 991px){
    #header {
        height: 52px;
    }
    #header .container {
        padding: 0;
    }
}

