body.--advancedModal .advancedModal, body.--advancedModal .menu-helper{
    opacity: 1;
    pointer-events: auto;
}
body.--advancedModal{
    overflow: hidden;
}
.advancedModal{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    z-index: 11;
    padding: 0px;
    width: 900px;
    max-width: calc(100% - 20px);
    transition: 0.3s ease opacity;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advancedModal__inner{
    background: white;
    box-shadow: 0px 4px 15px rgba($black,0.08);
    width: 100%;
}
.advancedModal__title{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 0px;
    text-align: center;
    flex-direction: column;
}
.advancedModal__content{
    padding: 20px;
}
.advancedModal__relatedTitle{
    padding: 20px;
    padding-bottom: 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
}
.advancedModal .products-block{
    margin: 0;
    padding: 10px;
}
.advancedModal__buttons{
    padding: 20px;
    padding-top: 0;
}

@media screen and (max-width: 991px){
    .advancedModal{
        align-items: flex-start;
        padding-top: 80px;
        padding-bottom: 20px;
    }
}