#newsletterSection{
    padding: 0px 0 60px 0;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 60px;
}
.newsletterSection__form{
    display: flex;
    justify-content: space-between;

}
.newsletterSection__titleWrap{

}
.newsletterSection__title{

}
.newsletterSection__subTitle{

}
.newsletterSection__label{
    display: none;
}
.newsletterSection__formGroup{
    display: flex;
    align-items: flex-end;
}
.newsletterSection__formGroup .validator-msg-holder{
    flex-grow: 1;
    margin-right: 10px;
}

.newsletterSection__consent{
    font-size: 13px;
    color: $gray-500;
    padding-top: 5px;
}