#newsletterSection{
    padding: 0px 0 60px 0;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 60px;
}
.newsletterSection__form{
    display: flex;
}
.newsletterSection__titleWrap{

}
.newsletterSection__title{

}
.newsletterSection__subTitle{

}