.news-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.news-item {
    width: 33.333%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.news-item > .image{
    position: relative;
}
.news-item > .image > a{
    height: 260px;
    display: flex;
    overflow: hidden;
    background: $black;
    border-radius: $border-radius-primary;
}
.news-item > .image > a > img{
    object-fit: cover;
    transition: 0.5s ease opacity;
}
.news-item > .image > a:hover > img{
    opacity: 0.7;
}
.news-item > .text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}
.news-item .title{
    font-size: 16px;
    font-weight: 500;
    color: $gray-800;
    padding: 10px 0;
    order: 0;
}
.news-item time{
    font-size: 13px;
    color: $gray-700;
    order: 2;
    font-weight: 600;
    padding-top: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: $white;
    padding: 5px 10px;
    border-radius: $border-radius-primary;
}
.news-item .description{
    font-size: 14px;
    order: 1;
    color: $gray-700;
}
.news-item .description p{
    margin: 0;
}
@media screen and (max-width: 991px){
    .news-item{
        width: 50%;
    }
}
@media screen and (max-width: 767px){
    .news-item{
        width: 100% !important;
        flex-direction: row;
    }
    .news-item > .image {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }
    .news-item > .image > a {
        height: 100px;
    }
    .news-item .title {
        padding: 0px 0 10px 0;
    }
    .news-item > .text {
        padding-left: 20px;
    }
    .news-item time{
        position: relative;
        top: 0px;
        right: 0px;
        padding: 5px 0px
    }
}
@media screen and (max-width: 500px){
    .news-item > .image {
        width: 60px;
        height: 60px;
    }
    .news-item > .image > a {
        height: 60px;
    }
    .news-item > .text {
        padding-left: 10px;
    }
}

.news-item-detail{
    margin: 0 auto;
    max-width: 760px;
}
.news-item-detail time{
    color: $gray-700;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 40px;
    display: flex;
}
.news-item-detail img{
    margin: 40px 0;
}
.news-item-detail .text{
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
}
.news-item-detail .next-prev{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    display: none;
}


.hp-blog{
    padding: 40px 0 0 0;
}
.hp-blog h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.hp-blog-bottom{
    text-align: center;
    display: flex;
    padding-top: 20px;
    justify-content: center;
}