.custom-footer .extended{
    background: $gray-100;
    border-radius: $border-radius-primary;
    padding: 50px 20px;
    display: flex;
}
.newsletter-header{

}
.custom-footer .extended .subscribe-form{

}
.custom-footer .extended .subscribe-form fieldset{
    
}
.custom-footer .extended .subscribe-form .no-display{
    display: none;
}