.products-block{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding-bottom: 40px;
}
@media screen and (max-width: 991px){
    .products-block{
        margin: 0 -5px;
    }
}

@media screen and (max-width: 991px){
    .homepage-products-1, .homepage-products-2{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        
        .product {
            width: 30%;
            flex-shrink: 0;
        }
    }
}
@media screen and (max-width: 500px){
    .homepage-products-1, .homepage-products-2{
        
        .product {
            width: 40%;
        }
    }
}