.products-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 40px;
    grid-gap: 1px;
}
@media screen and (max-width: 991px){
    .products-block{
       
    }
}

@media screen and (max-width: 991px){
    .homepage-products-1, .homepage-products-2{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        
        .product {
            width: 30%;
            flex-shrink: 0;
        }
    }
}
@media screen and (max-width: 500px){
    .homepage-products-1, .homepage-products-2{
        
        .product {
            width: 40%;
        }
    }
}