.products-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 20px;
    margin-bottom: 20px;
    grid-gap: 1px;
    position: relative;
}
.homepage-products-1, .homepage-products-2{
    /*grid-template-columns: 1fr 1fr 1fr 1fr !important;*/
    margin: 0;
    margin-bottom: 60px;
    display: none;
}
.homepage-products-1.swiffy-slider , .homepage-products-2.swiffy-slider {
    display: flex;
}
.homepage-products-1.swiffy-slider .slider-container, .homepage-products-2.swiffy-slider .slider-container{
    --swiffy-slider-item-gap-totalwidth: 0px;
    grid-gap: 1px;
    padding: 0;
    outline: 1px solid $gray-300;
}

.spinner-visible .products-block::after{
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
}

@media screen and (max-width: 991px){
    .products-block{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 656px){
    .products-block{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px){
    .products-block{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 991px){
    .homepage-products-1, .homepage-products-2{
        overflow-x: auto;
        padding-left: 1px;
        padding-top: 1px;

        .product {
            min-width: 300px;
        }
    }
}
@media screen and (max-width: 768px){
    .homepage-products-1, .homepage-products-2{
        
        .product {
            min-width: 260px;
        }
    }
}
@media screen and (max-width: 500px){
    .homepage-products-1, .homepage-products-2{
        
        .product {
            min-width: 200px;
        }
    }
}