.subcategories{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    padding: 40px 0;
    margin-bottom: 60px;
    background: $gray-100;
    position: relative;
}
.subcategories::before{
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: $gray-100;
    display: flex;
    position: absolute;
    z-index: -1;
}
.subcategories li{
    margin-bottom: 0px;
    padding: 0;
}
.subcategories li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: $white;
    border: 1px solid $gray-300;
    height: 100%;

    &:hover, &:active, &:focus{
        border-color: $green-700;
        text-decoration: none;
    }
}
.subcategories li a .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}
.subcategories li a .text{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: $black;
    padding-top: 10px;
    text-align: center;
}
@media screen and (max-width: 575px){
    .subcategories{
        margin: 0 -5px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        margin-bottom: 40px;
    }
    .subcategories li a .image {
        width: 60px;
    }
    .subcategories li a .text {
        font-size: 14px;
    }
    .subcategories li {
        width: 50%;
        margin-bottom: 0px;
        padding: 5px;
        flex-shrink: 0;
        width: 28.5%;
    }
}