.subcategories{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;
    margin-bottom: 60px;
}
.subcategories li{
    margin-bottom: 20px;
}
.subcategories li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: $gray-100;
    height: 100%;

    &:hover, &:active, &:focus{
        border-color: $green-700;
        text-decoration: none;
    }
}
.subcategories li a .image{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 120px;
    height: auto;
    flex-shrink: 0;
    mix-blend-mode: multiply;
}
.subcategories li a .text{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: $gray-800;
    padding-top: 10px;
    text-align: center;
}
@media screen and (max-width: 575px){
    .subcategories{
        margin: 0 -5px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        margin-bottom: 40px;
    }
    .subcategories li a .image {
        width: 60px;
    }
    .subcategories li a .text {
        font-size: 14px;
    }
    .subcategories li {
        width: 50%;
        margin-bottom: 0px;
        padding: 5px;
        flex-shrink: 0;
        width: 40%;
    }
}