.top-navigation-bar{
    display: flex;
    height: 40px;
    background: $white;
}
.top-navigation-bar .container{
    display: flex;
}
.top-navigation-contacts{
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 14px;
}
.top-navigation-contacts strong{
    display: none;
}
.top-navigation-contacts a{
    padding-right: 15px;
}
.top-navigation-menu{
    align-items: center;
    display: flex;
}
.top-navigation-menu li{
    display: inline-block;
    padding: 0 0 0 15px;
    font-size: 14px;
}
.top-navigation-menu li a{
    
}
.top-navigation-bar-menu{
    margin: 0;
}
.top-navigation-menu-trigger{

}
.top-navigation-bar-menu-helper{
    margin: 0;
    padding: 0;
}
.top-navigation-tools{
    text-align: right;
    display: none;
}
.top-nav-button-login{
    font-size: 14px;
    color: $gray-900;
    padding-left: 10px;
}

@media screen and (max-width: 991px){
    .top-navigation-bar{
        display: none;
    }
}