.top-navigation-bar{
    display: none;
}

.top-navigation-tools{
    text-align: right;
    display: none;
}
.top-nav-button-login{
    font-size: 14px;
    color: $gray-900;
    padding-left: 10px;
}

@media screen and (max-width: 991px){
    .top-navigation-tools{
        display: none;
    }
}