.user-action{

}
.user-action-in{
    
}
.user-action .user-action-in > div {
    display: none;
}
.login-window-visible .user-action{
    background: rgba($black, 0.4);
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
}


.user-action .login-widget{
    z-index: 99;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    background: $white;
    top: 20px;
    overflow-y: auto;
    height: auto;
    min-width: 700px;
    box-shadow: 0px 4px 15px rgba($black,0.08);
}
.user-action .login-widget::after{
    content: "";
    width: 260px;
    display: flex;
    background-color: $gray-300;
    background-image: url("../img/bg-login.jpg");
    background-size: cover;
    background-position: center center;
}
.login-window-visible .user-action .login-widget{
    display: flex;
}
.login-window-visible .user-action .login-widget .popup-widget-inner{
    flex-grow: 1;
    padding: 60px 40px;
}
.login-widget h2{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.login-widget .user-action-tabs, #affiliateLogin{
    display: none;
}
.login-widget .btn{
    width: 100%;
    background: $orange-700;
    color: $white;
    margin-bottom: 20px;
    
    &:hover, &:active, &:focus{
        color: $white;
        background: $orange-800;
        text-decoration: none;
    }
}
@media (max-width: 767px){
    .login-window-visible .user-action .login-widget::after{
        content: none;
    }
    .login-window-visible .user-action .login-widget .popup-widget-inner{
        padding: 40px 40px;
    }
}
@media (max-width: 500px){
    .login-window-visible .user-action .login-widget{
        padding: 40px 20px;
        min-width: 0px;
    }
}