/* -------------------------------------------------------------------------- */
/* SEARCH */
/* -------------------------------------------------------------------------- */
$i-search: "../icons/search.svg";

/* -------------------------------------------------------------------------- */
/* USER */
/* -------------------------------------------------------------------------- */
$i-user: "../icons/user.svg";

/* -------------------------------------------------------------------------- */
/* CART */
/* -------------------------------------------------------------------------- */
$i-cart: "../icons/cart.svg";

/* -------------------------------------------------------------------------- */
/* PHONE */
/* -------------------------------------------------------------------------- */
$i-phone: "../icons/phone.svg";

/* -------------------------------------------------------------------------- */
/* MICROPHONE */
/* -------------------------------------------------------------------------- */
$i-microphone: "../icons/microphone.svg";

/* -------------------------------------------------------------------------- */
/* ENVELOPE */
/* -------------------------------------------------------------------------- */
$i-envelope: "../icons/envelope.svg";

/* -------------------------------------------------------------------------- */
/* STAR */
/* -------------------------------------------------------------------------- */

$i-star-full: "../icons/star-full.svg";
$i-star-empty: "../icons/star-empty.svg";

/* -------------------------------------------------------------------------- */
/* PLUS CIRCLE */
/* -------------------------------------------------------------------------- */

$i-plus-circle-green: "../icons/plus-circle-green.svg";
$i-minus-circle-gray: "../icons/minus-circle-gray.svg";

/* -------------------------------------------------------------------------- */
/* ARROW */
/* -------------------------------------------------------------------------- */

$i-arrow-left: "../icons/arrow-left.svg";
$i-arrow-left-white: "../icons/arrow-left-white.svg";
$i-arrow-right-white: "../icons/arrow-right-white.svg";

/* -------------------------------------------------------------------------- */
/* CHECK */
/* -------------------------------------------------------------------------- */

$i-check-white: "../icons/check-white.svg";

/* -------------------------------------------------------------------------- */
/* HOME */
/* -------------------------------------------------------------------------- */

$i-home: "../icons/home.svg";